.meetVideoContainer {
    position: relative;
    height: 100vh;
    background: rgb(1, 4, 48);
    display: flex;
    flex-direction: column;
}

.mainContent {
    display: flex;
    height: 90vh;
    width: 100vw;
}

/* Video section */
.conferenceView {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70vw;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Chat section */
.chatRoom {
    width: 30vw;
    height: 100%;
    background: white;
    border-radius: 10px 0 0 10px;
    padding: 20px;
    box-sizing: border-box;
}

/* Videos */
.conferenceView video {
    height: 37vh;
    width: auto;
    flex: 1 1 40%;
    border-radius: 10px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    max-width: 100%;
}

/* Local user video bottom-left */
.meetUserVideo {
    position: absolute;
    bottom: 12vh;
    left: 10px;
    height: 20vh;
    border-radius: 20px;
}

/* Bottom controls */
.buttonContainers {
    height: 10vh;
    text-align: center;
    position: relative;
}

.buttonContainers svg{
    font-size: 3rem;
}
.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chattingDisplay {
    flex: 1;
    overflow-y: auto;
    padding-right: 10px;
    margin-bottom: 10px;
}

.chattingArea {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}
